doctype html
html
  head
    include /includes/head.pug
  body
    h1= appName
    
    .event-container
      h2.event-title= event.title
      p #{event.dateStartFormatted} to #{event.dateEndFormatted}
      p.event-location= event.location
      p.event-description= event.description
      .event-subscribe
        .event-subscribe_nonauthed.nonauthed-only
          p Get notified by email whenever this event is updated:
          input(type="email", placeholder="enter your email address")
          button.event-subscribe_button-nonauthed Subscribe
        .event-subscribe_authed.authed-only
          p Get notified whenever this event is updated:
          button.event-subscribe_button-authed Follow
    
    include /includes/footer.pug
    
    include /includes/end_scripts.pug
    script(src="/lib/moment/moment.min.js")
	
  script.
    var eventID = "#{event.id}"
  script(src="/script/event.js")
